.form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .form {
    flex-direction: column;
    text-align: center;
  }
}

/* Small */
@media screen and (max-width: 650px) {
}
