.todo {
  display: flex;
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todoCompleted {
  display: flex;
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  text-decoration: line-through;
  opacity: 0.5;
}

.todo li,
.todoCompleted li {
  flex: 1;
}

.trashBtn,
.completeBtn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.trashBtn:hover {
  background: #d1441d;
}

.completeBtn {
  background: green;
}

.completeBtn:hover {
  background: rgb(4, 84, 4);
}

.todoItem {
  padding: 0rem 0.5rem;
}

.faCheck,
.faTrash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
