.todoBtn {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.859);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 0px 2px 2px 0px;
}

.todoBtn:hover {
  background: rgba(0, 0, 0, 0.619);
  color: white;
}

@media screen and (max-width: 950px) {
  .todoBtn {
    font-size: 1.7rem;
  }
}

/* Small */
@media screen and (max-width: 650px) {
  .todoBtn {
    font-size: 1.2rem;
  }
}
