.todoBtn {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  color: #d88771;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.todoBtn:hover {
  background: #d88771;
  color: white;
}
